@import "tailwindcss";

:root {
  --color-blue-50: #edf3ff;
  --color-blue-100: #dfe7ff;
  --color-blue-200: #c5d3ff;
  --color-blue-300: #a2b5ff;
  --color-blue-400: #7d8cfc;
  --color-blue-500: #5e66f6;
  --color-blue-600: #4e4aec;
  --color-blue-700: #3933cf;
  --color-blue-800: #2f2ca7;
  --color-blue-900: #2b2b84;
  --color-blue-950: #1a194d;
  --color-slate-50: #f8fafc;
  --color-slate-100: #f1f5f9;
  --color-slate-200: #e2e8f0;
  --color-slate-300: #cbd5e1;
  --color-slate-400: #94a3b8;
  --color-slate-500: #64748b;
  --color-slate-600: #475569;
  --color-slate-700: #334155;
  --color-slate-800: #1e293b;
  --color-slate-900: #0f172a;
  --color-slate-950: #020617;
}

@theme inline {
  --font-outfit: var(--font-outfit);
  --font-rethink-sans: var(--font-rethink-sans);
  --font-covered-by-your-grace: var(--font-covered-by-your-grace);
  --breakpoint-xs: 30rem;
}

.dark {
  --color-blue-50: #333;
  --color-blue-100: #dfe7ff;
  --color-blue-200: #c5d3ff;
  --color-blue-300: #1a194d;
  --color-blue-400: #7d8cfc;
  --color-blue-500: #5e66f6;
  --color-blue-600: #4e4aec;
  --color-blue-700: #3933cf;
  --color-blue-800: #2f2ca7;
  --color-blue-900: #2b2b84;
  --color-blue-950: #1a194d;
  --color-slate-50: #f8fafc;
  --color-slate-100: #f1f5f9;
  --color-slate-200: #e2e8f0;
  --color-slate-300: #cbd5e1;
  --color-slate-400: #94a3b8;
  --color-slate-500: #64748b;
  --color-slate-600: #475569;
  --color-slate-700: #334155;
  --color-slate-800: #1e293b;
  --color-slate-900: #0f172a;
  --color-slate-950: #020617;
}

body {
  font-family: var(--font-outfit);
}

/* YouTube Lite Embed */
.yt-lite {
  background-color: #000;
  position: relative;
  display: block;
  contain: content;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
  border-radius: 0.5rem;
}

/* gradient */
.yt-lite::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  background-position: top;
  background-repeat: repeat-x;
  height: 60px;
  padding-bottom: 50px;
  width: 100%;
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}

/* responsive iframe with a 16:9 aspect ratio
    thanks https://css-tricks.com/responsive-iframes/
*/
.yt-lite::after {
  content: "";
  display: block;
  padding-bottom: calc(100% / (16 / 9));
}
.yt-lite > iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* play button */
.yt-lite > .lty-playbtn {
  width: 50px;
  height: 50px;
  z-index: 1;
  opacity: 0.9;
  border: none;
  background: var(--color-blue-300);
  border-radius: 50%;
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
  cursor: pointer;
}
.yt-lite:hover > .lty-playbtn {
  background: var(--color-blue-600);
  opacity: 1;
}
/* play button triangle */
.yt-lite > .lty-playbtn:before {
  content: "";
  border-style: solid;
  border-radius: 2px;
  border-width: 10px 0 11px 15px;
  border-color: transparent transparent transparent var(--color-blue-50);
}

.yt-lite > .lty-playbtn,
.yt-lite > .lty-playbtn:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

/* Post-click styles */
.yt-lite.lyt-activated {
  cursor: unset;
}
.yt-lite.lyt-activated::before,
.yt-lite.lyt-activated > .lty-playbtn {
  opacity: 0;
  pointer-events: none;
}
