@import "tailwindcss";

:root {
  --color-blue-50: #edf3ff;
  --color-blue-100: #dfe7ff;
  --color-blue-200: #c5d3ff;
  --color-blue-300: #a2b5ff;
  --color-blue-400: #7d8cfc;
  --color-blue-500: #5e66f6;
  --color-blue-600: #4e4aec;
  --color-blue-700: #3933cf;
  --color-blue-800: #2f2ca7;
  --color-blue-900: #2b2b84;
  --color-blue-950: #1a194d;
  --color-slate-50: #f8fafc;
  --color-slate-100: #f1f5f9;
  --color-slate-200: #e2e8f0;
  --color-slate-300: #cbd5e1;
  --color-slate-400: #94a3b8;
  --color-slate-500: #64748b;
  --color-slate-600: #475569;
  --color-slate-700: #334155;
  --color-slate-800: #1e293b;
  --color-slate-900: #0f172a;
  --color-slate-950: #020617;
}

@theme inline {
  --font-outfit: var(--font-outfit);
  --font-rethink-sans: var(--font-rethink-sans);
  --font-covered-by-your-grace: var(--font-covered-by-your-grace);
}

.dark {
  --color-blue-50: #333;
  --color-blue-100: #dfe7ff;
  --color-blue-200: #c5d3ff;
  --color-blue-300: #1a194d;
  --color-blue-400: #7d8cfc;
  --color-blue-500: #5e66f6;
  --color-blue-600: #4e4aec;
  --color-blue-700: #3933cf;
  --color-blue-800: #2f2ca7;
  --color-blue-900: #2b2b84;
  --color-blue-950: #1a194d;
  --color-slate-50: #f8fafc;
  --color-slate-100: #f1f5f9;
  --color-slate-200: #e2e8f0;
  --color-slate-300: #cbd5e1;
  --color-slate-400: #94a3b8;
  --color-slate-500: #64748b;
  --color-slate-600: #475569;
  --color-slate-700: #334155;
  --color-slate-800: #1e293b;
  --color-slate-900: #0f172a;
  --color-slate-950: #020617;
}

body {
  font-family: var(--font-outfit);
}
